* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/image/book.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-container {
  background-color: #dbe4ddf3;
  width: 400px;
  height: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  border-radius: 50px;
}

input[type="email"],
input[type="password"] {
  background-color: rgb(199, 179, 179);
}

button:hover {
  opacity: 0.8;
}
