* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/image/book.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 800px;
  width: 100%;
}

.login-container {
  background-color: #dbe4ddf3;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  border-radius: 50px;
}

#professor-login {
  overflow: hidden;
  background-color: #4dce42;
  border: 2px solid black;
  border-radius: 30px 30px 0 0;
}
#admin-login {
  background-color: #2f676b;
  overflow: hidden;
  border: 2px solid black;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  background-color: rgb(199, 179, 179);
  width: 70%;
}

button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 610px) {
  .login-container {
    width: auto;
  }
}
